<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Project 2</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:800|Raleway:800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bangers|Limelight|Luckiest+Guy|Permanent+Marker|Rock+Salt" rel="stylesheet">
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
  <script src="/js/client.js" charset="utf-8"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIgaOFi99JK5r-OYBsBhrfKeyq4d8Wulg&libraries=places" async defer></script>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav>
    <div class="nav-wrapper white">
      <a href="/" class="brand-logo center"><img class"nav-logo" src="/images/Shout-Eat-Logo.png" alt=""></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="left hide-on-med-and-down">
        <li class=""><a href="/restaurants/new"><b>Shout Out</b></a></li>
        <li><a href="/restaurants"><b>Eat Out</b></a></li>
        <% if (locals.isLoggedIn) { %>
          <li><a href="/logout"><b>Logout</b></a></li>
          <% } else { %>
            <li><a href="/login"><b>Login</b></a></li>
            <li><a href="/register"><b>Register</b></a></li>
            <% } %>
          </ul>
        </div>
      </nav>

      <main class="container">
        <% for (const type in messages) { %>
          <p class="alert alert-<%= type %>"><%= messages[type] %></p>
          <% } %>
          <%- body %>
        </main>
      </body>
      </html>
