<% if (locals.message) { %>
  <p><%= message %></p>
  <% } %>
  <%# <div class="container">%>
    <div class="row row-home">
      <div class="col s12 m6">
        <a href="/restaurants/new">
          <div class="card hoverable main-card1">
          </div>
        </div>
      </a>
      <div class="col s12 m6">
        <a href="/restaurants">
          <div class="card hoverable main-card2">
          </div>
        </a>
      </div>
    <%# </div>%>
