
<% if (locals.message) { %>
  <p><%= message %></p>
  <% } %>
    <div class="row row-home">
      <div class="col s12 m6">
        <a href="/restaurants/new">
          <div class="main-card1">
          </div>
        </div>
      </a>

      <div class="col s12 m6">
        <a href="/restaurants">
          <div class="main-card2">
          </div>
        </a>

      </div>
      <div class="bg-img1">

      </div>
    </div>
    <div class="row">
      <div class="col s12 m6 center-align">
        <h1 class="homeHeaders" id="shoutout">SHOUT OUT</h1>
      </div>
      <div class="col s12 m6 center-align">
        <h1 class="homeHeaders" id="eatout">EAT OUT</h1>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center-align intro">
        <p>Want to make good use of those food pics? Enjoy a meal out? Why not shout about it and help others find a great place to stop. Need inspiration? Take a look at the places that are being shouted about in your area!</p>
      </div>
    </div>
    <img class="bg-img2" src="/images/Screen-Shot-2017-07-27-at-16.16.09.jpg" alt="">
