
<% if (locals.message) { %>
  <p><%= message %></p>
  <% } %>
    <div class="row row-home">
      <div class="col s12 m6">
        <a href="/restaurants/new">
          <div class="card hoverable main-card1">
          </div>
        </div>
      </a>
      <div class="col s12 m6">
        <a href="/restaurants">
          <div class="card hoverable main-card2">
          </div>
        </a>
      </div>
    <img class="bg-img" src="/images/Screen-Shot-2017-07-27-at-16.16.09.jpg" alt="">
