body {

}

.bg-img {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.row-home, .row-new {
  padding-top: 100px;
  h5 {
    text-align: center;
  }
}

nav {
  .brand-logo{
    display: inline-block;
    height: 100%;
  }
  .brand-logo>img {
    vertical-align: middle
  }
  ul {
    li a{
      color: black;
    }
    li:hover {
      background-color: red;
    }
  }
}

#rest-map {
  width: 100%;
  height: 400px;
  background-color: grey;
  margin-bottom: 30px;
}
#index-map {
  width: 100%;
  height: 400px;
  background-color: grey;
  margin-top: 20px;
}

.main-card1 {
  height: 300px;
  width: 400px;
  background-image: url('/images/Shout-out.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.main-card2 {
  height: 300px;
  width: 400px;
  background-image: url('/images/Eat-out.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.show-box {
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.1);
}

.google-data {
  font-size: 14px;
  color: black;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
    .material-icons {
      color: black;
    }
    a {
      color: black;
    }
}

.rest-title {
  font-family: 'Raleway', sans-serif;
}

.chip {
  margin-top: 10px;
  width: 150px;
  color: white;
}

.index-img {
  height: 200px;
}

.card-content h5 {

}
