body {

}

.bg-img1 {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.7);

}
.bg-img2 {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  background-color: #f3db02;
}

.row-home, .row-new {
  padding-top: 100px;
  h5 {
    text-align: center;
  }
}

nav {
  .brand-logo{
    display: inline-block;
    height: 100%;
  }
  .brand-logo>img {
    vertical-align: middle
  }
  ul {
    li a{
      color: black;
    }
    li:hover {
      background-color: red;
    }
  }
}

.intro {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  margin-top: -40px;
  // color: grey;
}

#rest-map {
  width: 100%;
  height: 400px;
  background-color: grey;
  margin-bottom: 30px;
}
#index-map {
  width: 100%;
  height: 400px;
  background-color: grey;
  margin-top: 20px;
}

.main-card1 {
  height: 300px;
  // width: 400px;
  background-image: url('/images/girl_greyscale.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main-card1:hover {
  height: 300px;
  // width: 400px;
  background-image: url('/images/girl_color.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-card2 {
  height: 300px;
  // width: 400px;
  background-image: url('/images/boy_greyscale.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.main-card2:hover {
  height: 300px;
  // width: 400px;
  background-image: url('/images/boy_color.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.main-card2:hover #shoutout {
  color: firebrick;

}

#shoutout {
    margin-left: -100px;
}

#eatout {
  margin-left: 80px;
}
.homeHeaders {
  // font-family: 'Permanent Marker', cursive;
  // font-family: 'Luckiest Guy', cursive;
  // font-family: 'Bangers', cursive;
  // font-family: 'Rock Salt', cursive;
  // font-family: 'Limelight', cursive;
  // font-family: 'Bungee Inline', cursive;
  font-family: 'Chau Philomene One', sans-serif;


  color: firebrick;
  font-size: 3.5em;
  margin-top: 0;
  // margin-left: -100px;
}

.show-box {
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.1);
}

.google-data {
  font-size: 14px;
  color: black;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-decoration: none;
    .material-icons {
      color: black;
    }
    a {
      color: black;
    }
}

.rest-title {
  font-family: 'Raleway', sans-serif;
}

.chip {
  margin-top: 10px;
  width: 150px;
  color: white;
}

.index-img {
  height: 200px;
}

.card-content h5 {

}
