<%# <h4>Where are people shouting about?</h4>%>

<div class="row">
  <% restaurants.forEach((restaurant) => { %>
    <div class="col l4 m6 s12">
      <div class="card hoverable restCard">
      <a href="/restaurants/<%= restaurant.id %>">
        <div class="card-image">
          <img src="<%= restaurant.images[0] %>">
        </div>
        </a>
        <div class="card-content">
          <h5><%= restaurant.name %></h5>
        </div>
      </div>
    </div>
  <% }) %>
</div>
