<%# AIzaSyBIgaOFi99JK5r-OYBsBhrfKeyq4d8Wulg %>


<div class="row row-new">
  <h5>Eaten somewhere great? Give a Shout Out!</h5>
  <form method="POST" action="/restaurants" class="col s12 shout-out-form">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">store</i>
        <input name="searchName" id="searchName" type="text" class="validate">
        <label for="searchName"></label>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">add_a_photo</i>
        <input name="images" id="images" type="tel" class="validate shout-out-photo">
        <label for="images">Add a photo</label>
      </div>
      <div class="input-field col s12">
        <%# <i class="material-icons prefix">store</i>%>
        <input name="name" id="name" type="hidden" class="validate">
        <label for="name"></label>
      </div>
      <div class="input-field col s12">
        <%# <i class="material-icons prefix">restaurant</i>%>
        <input name="placeId" id="placeId" type="hidden" class="validate">
        <label for="placeId"></label>
      </div>
      <div class="input-field col s12">
        <%# <i class="material-icons prefix">restaurant</i>%>
        <input name="latLng" id="latLng" type="hidden" class="validate">
        <label for="latLng"></label>
      </div>
    </div>
    <div class="row">
    <button class="btn waves-effect waves-light red shout-btn btn-large col s6 offset-s3" type="submit" name="action">Shout Out!
      <i class="material-icons right">record_voice_over</i>
    </button>
    </div>
  </form>
</div>
